.card-small {
	background-color: rgb(230, 230, 230);
	flex: 0.01;
	flex-basis: 250px;
	padding: 10px;
	margin: 20px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  	transition: 0.3s;  
}

.card-small:hover {
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4);
}

.card-small h3 {
	font-size: 20px;
	font-family: Geneva;
	text-align: center;
}

.card-small img {
	align-content: center;
}


